
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-weight: 300;

}

code[class*="language-"] {
  overflow: auto;
  display: block;
}


code[class*="language-"]::-webkit-scrollbar-track {
     background: 0 0;
 }
 code[class*="language-"]::-webkit-scrollbar {
     background: 0 0;
     width: 5px;
     height: 6px;
     position: relative;
 }
 code[class*="language-"]::-webkit-scrollbar-thumb {
     background: #fff;
     border-radius: 10px;
     width: 3px;
     background: rgb(88, 88, 88);
 }
 code[class*="language-"]::-webkit-scrollbar-corner {
     background: 0 0;
 }


/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: visible;
  font-weight: 200;
  position: relative;
  text-rendering: geometricPrecision;
}

// pre[class*="language-"]:before,  pre[class*="language-"]:after {
//   content: '';
//   background: #272822;
//   position: absolute;
//   left: -80px;
//   width: 80px;
//   top: 0;
//   bottom: 0;
//   display: block;
// }

// pre[class*="language-"]:after {
//   background: #272822;
//   right: -80px;
//   width: 80px;
//   left: inherit;
// }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
  text-rendering: geometricPrecision;
}


.token {
  text-rendering: geometricPrecision;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}


